{% extends "base.html" %}

{% block title %}Contacter {{ username }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Contacter {{ username }}</h1>
    
    <div class="row">
        <div class="col-md-6">
            <div class="product-info">
                <img src="/storage/{{ article.picture ? article.picture : 'default.jpg' }}" alt="Image de l'article" class="img-fluid" style="max-width: 400px;">
                <h2>{{ article.name }}</h2>
                <p>{{ article.description }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <form action="/contact/{{ article.id }}/send" method="POST">
                <div class="form-group">
                    <label for="name">Votre nom:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Votre email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}