{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body %}
<link href="/css/cookies.css" rel="stylesheet">
    <div class="container">
        <header>
            <h1>Politique relative aux cookies</h1>
        </header>
        <section>
            <h2>1. Introduction</h2>
            <p>
                Cette politique de cookies explique ce que sont les cookies et comment nous les utilisons sur notre site 
                "Vide Grenier en ligne". Vous pouvez ajuster vos préférences de cookies à tout moment à travers les paramètres 
                de votre navigateur.
            </p>
        </section>
        <section>
            <h2>2. Qu'est-ce qu'un cookie ?</h2>
            <p>
                Un cookie est un petit fichier texte qui est stocké sur votre appareil lorsque vous visitez un site Web. 
                Il permet au site de se souvenir de vos actions et préférences (telles que la connexion, la langue, la taille 
                de la police et d'autres préférences d'affichage) pendant une période de temps, de sorte que vous n'avez pas à 
                les réintroduire chaque fois que vous revenez sur le site ou naviguez d'une page à l'autre.
            </p>
        </section>
        <section>
            <h2>3. Comment utilisons-nous les cookies ?</h2>
            <p>
                Nous utilisons les cookies aux fins suivantes :
            </p>
            <ul>
                <li><strong>Cookies strictement nécessaires :</strong> Ces cookies sont indispensables au bon fonctionnement de notre site.</li>
                <li><strong>Cookies de performance :</strong> Ils nous aident à comprendre comment les utilisateurs interagissent avec notre site.</li>
                <li><strong>Cookies de fonctionnalité :</strong> Ces cookies permettent de mémoriser vos préférences pour améliorer votre expérience.</li>
                <li><strong>Cookies de ciblage :</strong> Ces cookies enregistrent votre visite sur notre site, les pages que vous avez consultées, et les liens que vous avez suivis.</li>
            </ul>
        </section>
        <section>
            <h2>4. Comment gérer les cookies ?</h2>
            <p>
                Vous pouvez contrôler et/ou supprimer les cookies comme vous le souhaitez. Pour en savoir plus, consultez <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">cnil.fr</a>. Vous pouvez effacer tous les cookies déjà enregistrés sur votre appareil et configurer la plupart des navigateurs pour qu’ils les bloquent. Toutefois, si vous choisissez de bloquer les cookies, certaines fonctionnalités de ce site pourraient ne pas fonctionner correctement.
            </p>
        </section>
        <section>
            <h2>5. Mise à jour de cette politique</h2>
            <p>
                Nous nous réservons le droit de modifier cette politique relative aux cookies à tout moment. Les modifications prendront effet immédiatement après leur publication sur cette page.
            </p>
        </section>
        <section>
            <h2>6. Contactez-nous</h2>
            <p>
                Si vous avez des questions concernant cette politique relative aux cookies, veuillez nous contacter à <a href="mailto:support@videgrenierenligne.fr">support@videgrenierenligne.fr</a>.
            </p>
        </section>
    </div>

    {% endblock %}