{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
    <div class="row">
        <div class="login-wraper">
            <div class="hidden-xs">
                <img style="max-height: 20vh; width: 100vw;object-fit: cover;" src="images/account.jpg" alt="">
            </div>
            <div class="banner-text hidden-xs">
                <div class="line"></div>
                <div class="b-text">
                    Des <span class="color-active">centaines<br> </span> <span class="color-b1">d'articles vous
                </span>attendent
                </div>
            </div>
            <div class="login-window">
                <div class="l-head">
                    Connexion
                </div>
                <div class="l-form">
                    <form method="post">
                        <div class="form-group">
                            <label for="loginEmail">Email</label>
                            <input type="email" class="form-control" id="loginEmail" name="email"
                                   placeholder="sample@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Mot de passe</label>
                            <input type="password" class="form-control" id="loginPassword"
                                   name="password" placeholder="**********">
                        </div>
                        <div class="checkbox">
                            <label>
                                <label class="checkbox">
                                    <input type="checkbox" name="#">
                                    <span class="arrow"></span>
                                </label> <span>Se souvenir de moi</span>
                                <span class="text2">(non recommandé si vous êtes sur un ordinateur partagé)</span>
                            </label>
                        </div>
                        <div class="row">
                                <button type="submit" name="submit" class="btn btn-cv1">Connexion</button>
                        </div>
                        <div class="row">
                            <span style="text-align: center; display: flex; justify-content: center;">ou</span>
                        </div>
                        <div class="row">
                            <a class="btn btn-cv1" href="/register">Inscription</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
